<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @sign_up_two.firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @sign_up_two.middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @sign_up_two.lastname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @sign_up_two.username %>
</p>

<p>
  <strong>Pmdcno:</strong>
  <%= @sign_up_two.PMDCno %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sign_up_two.email %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @sign_up_two.phoneno %>
</p>

<p>
  <strong>Cellno:</strong>
  <%= @sign_up_two.cellno %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @sign_up_two.dateofbirth %>
</p>

<p>
  <strong>Password:</strong>
  <%= @sign_up_two.password %>
</p>

<p>
  <strong>Confirmpassword:</strong>
  <%= @sign_up_two.confirmpassword %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @sign_up_two.speciality %>
</p>

<p>
  <strong>City:</strong>
  <%= @sign_up_two.city %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @sign_up_two.institution %>
</p>

<p>
  <strong>Officehourstart:</strong>
  <%= @sign_up_two.officehourstart %>
</p>

<p>
  <strong>Officehourend:</strong>
  <%= @sign_up_two.officehourend %>
</p>

<%= link_to 'Edit', edit_sign_up_two_path(@sign_up_two) %> |
<%= link_to 'Back', sign_up_twos_path %>
