<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @sign_up_one.firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @sign_up_one.middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @sign_up_one.lastname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @sign_up_one.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sign_up_one.email %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @sign_up_one.phoneno %>
</p>

<p>
  <strong>Cellno:</strong>
  <%= @sign_up_one.cellno %>
</p>

<p>
  <strong>City:</strong>
  <%= @sign_up_one.city %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @sign_up_one.dateofbirth %>
</p>

<p>
  <strong>Password:</strong>
  <%= @sign_up_one.password %>
</p>

<p>
  <strong>Confirmpassword:</strong>
  <%= @sign_up_one.confirmpassword %>
</p>

<%= link_to 'Edit', edit_sign_up_one_path(@sign_up_one) %> |
<%= link_to 'Back', sign_up_ones_path %>
